.header-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    padding: 20px;
    overflow: hidden;
    background-color: rgb(236, 235, 235);
    border-radius: 10px 10px 0 0;
}

.room-container {
    display: flex;
    flex-direction: column;
}

.room {
    font-size: 11px;
    text-align: right;
    color: rgb(163, 163, 163);
}

.header-room {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 5px;
    color: rgb(124, 124, 124);
}

.members-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 11px;
    padding: 5px;
    padding-left: 10px;
}

.members-container>span {
    font-size: 11px;
    padding-left: 15px;
    align-self: center;
}

.members-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.member {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    margin-left: 10px;
    margin-bottom: 5px;
}

.member-color {
    display: inline-block;
    margin: 0px 2px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}